<ion-header>
  <ion-toolbar color="amarelao">
    <ion-title color="dark"><b>Perfil do Usuario</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formImg">
    
  <section text-center>
    <ion-icon name="person"></ion-icon>
    <h1>Bem Vindo, <br> 
      {{ user.img }}
      {{ user.name }}
       <br>
       <br>
    </h1>
  </section>
    </form>
  <ion-button expand="block" color="amarelao" type="file" class="form-control" accept="image/png,image/jpeg" (change)="upload($event)"><b>Alterar imagem</b></ion-button>
  <ion-button expand="block" color="amarelao" [routerLink]="['/usuarios/lista-pedidos']"><b>Meus Pedidos</b></ion-button>
  <ion-button expand="block" color="dark" [routerLink]="['/usuarios/enderecos']">Meus Endereços</ion-button> 
  <ion-button expand="block" color="dark" [routerLink]="['/usuarios/sobre']"> Sobre </ion-button>
  <br>
  <br>
  <ion-button expand="block" color="dark" (click)="sair()">
  <ion-icon class="eaemn" md="ios-log-out"  color="amarelinho" slot="start"></ion-icon>
      Sair 
  </ion-button>
   
  
</ion-content>
