
ion-header {
height: 70px;
width: 100%;

}


ion-title {
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    padding-top: 15px;
}


.imagemFoto {
    width: 80px;
    height: 80px;
}

ion-fab {
    margin-bottom: 16px;
}


ion-searchbar {
    margin-top: 5px;
}

.pesquisa {}
