<ion-tabs>

  <ion-tab-bar slot="bottom" color="amarelao">

          <ion-tab-button tab="home">
            <ion-icon name="home" color="dark"></ion-icon>
            <ion-label color="dark"><b>Inicio</b></ion-label>
          </ion-tab-button>

          <ion-tab-button tab="produtos">
            <ion-icon name="list"  color="dark"></ion-icon>
            <ion-label color="dark"><b>Produtos</b></ion-label>
          </ion-tab-button>

          <ion-tab-button tab="perfil">
            <ion-icon name="person" color="dark"></ion-icon>
            <ion-label color="dark"><b>Perfil do Usuario</b></ion-label>
          </ion-tab-button>
          
  </ion-tab-bar>

</ion-tabs>
